<!DOCTYPE html>
<html>
  <head>
    <title>Mocha Tests</title>
  </head>
  <body>
    <style>
      .start-tests {
        position: fixed;
        width: 250px;
        height: 30px;
        top: calc(50% - 15px);
        left: calc(50% - 125px);
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
        background-color: #9b4dca;
        border: 0.1rem solid #9b4dca;
        border-radius: .4rem;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 700;
        height: 3.8rem;
        letter-spacing: .1rem;
        line-height: 3.8rem;
        padding: 0 3.0rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
      }
    </style>


    <button class="start-tests" id="start-tests">Start Tests</button>

    <div id="mocha"></div>
    <script src="runtime.js"></script>
    <script>
      var btn = document.getElementById('start-tests')
      mocha.setup({ ui: 'bdd', timeout: 20000 })

      btn.addEventListener('click', function () {
        mocha.run()
        document.body.removeChild(btn)
      })

    </script>

    {{!-- Test Files --}}
    {{#each scripts}}
    <script src="{{this}}"></script>
    {{/each}}


  </body>
</html>
